@media (max-width: 1250px) {
  .out-services__inner{
    flex-direction: column;
    justify-content: center;
  }
  .out-services.about-page{
    .out-services__inner{
      flex-direction: row;
    }
  }
  .out-services__info{
    margin-bottom: 50px;
  }
  .out-services__info{
    max-width: 100%;
  }
  .out-services__items{
    max-width: 900px;
    margin: 0 auto;
  }
  .out-services__item{
    margin: 0 20px 30px;
  }
  .benchmarks-item{
    .benchmarks-item__box:before{
      display: none;
    }
  }
  .benchmarks-item{
    width: 19%;
  }
  .benchmarks__inner{
    justify-content: center;
  }
  .benchmarks-item:nth-child(2), .benchmarks-item:nth-child(4) {
    margin-top: -300px;
    margin-right: 100px;
  }
  .team__inner{
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1050px ;
    margin: 0 auto;
  }
  .team-item:nth-child(3),
  .team-item:nth-child(4),
  .team-item:nth-child(2){
    margin-top: 0px;
  }
  .team__inner{
    max-width: 800px;
  }
  .team .a-btn{
    bottom: -75px;
    right: 73%;
  }
  .team-item{
    width: 400px;
    height: 500px;
  }
  .about-slider{
    .out-services__info-title{
      text-align: center;
      margin-bottom: 0;
      span{
        margin: 0 auto 50px;
        width: 300px;
        font-size: 26px;
        &:after{
          left: 120px;
        }
      }
    }
  }
  .team-slider,
  .team{
    .out-services__info-title{
      text-align: center;
      margin-bottom: 0;
      span{
        margin: 0 auto 50px;
        width: 300px;
        &:after{
          left: 114px;
        }
      }
    }
  }
}
@media (max-width: 1100px) {
  .header-menu__list{
    display: none;
  }
  .header-btn{
    display: block;
    position: relative;
    cursor: pointer;
  }
  .header-menu__list{
    position: absolute;
    z-index: 20;
    left: 0;
    top: 90px;
    background-color: rgba(44, 130, 201, .9) ;
    .header-list{
      width: 180px;
      display: block;
      opacity: 1;
      li{
        margin: 10px 0;
        display: block;
      }
      a,span{
        padding-left: 20px;
        transition: all .5s;
        width: 100%;
        height: 35px;
        &:after{
          display: none;
        }
        &:hover{
          background-color: rgba(44, 130, 201, 1);
          font-size: 20px;
          padding-top: 0;
        }
      }
      .drop-down__list{
        display: block;
        z-index: -1;
        right: -124px;
        top: 0px;
        li{
          margin: 0;
        }
        a{
          width: 100%;
          background-color: rgba(44, 130, 201, 1);
          font-size: 16px ;
          &:hover{
            font-size: 16px;
            color: #fff;
          }
        }
      }
    }
  }
  .gallery__inner{
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(1, 100px);
    background-color: $bg;
  }
  .gallery-item1{
    grid-area: 1/1/3/1;
  }
  .gallery-item2{
    grid-area: 1/2/4/2;
  }
  .gallery-item3{
    grid-area: 3/1/6/1;
  }
  .gallery-item4{
    grid-area: 4/2/6/2;
  }
  .gallery-item5{
    grid-area: 6/1/8/1;
  }
  .gallery-item6{
    grid-area: 6/2/10/2;
  }
  .gallery-item7{
    grid-area: 8/1/10/1;
  }
  .gallery__inner img{
    width: 98%;
  }
  .footer-inner{
    justify-content: space-around;
    padding: 50px 0;
    .footer-col{
      max-width: 100%;
      & + .footer-col {
        margin-top: 50px;
      }
    }
    .footer-column{
      max-width: 30%;
    }
  }
  .out-services.about-page .out-services__inner{
    flex-direction: column;
    justify-content: center;
    .out-services__info-title{
      text-align: center;
      margin-bottom: 0;
      span{
        margin: 0 auto 50px;
        width: 300px;
        &:after{
          left: 114px;
        }
      }
    }
  }
  .about-services{
    margin: 0 0 50px  ;
    justify-content: center;
  }
  .out-services.about-page .out-services__items{
    max-width: 100%;
    .out-services__info-text{
      text-align: center;
    }
  }
  .out-services__items-box{
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  .portfolio__inner-box{
    justify-content: center;
    .portfolio-item{
      flex-basis: calc(46%);
    }
    .portfolio-item__img{
      max-width: 100%;
    }
  }
  .contact-head{
    flex-direction: column;
  }
  .contact-item{
    justify-content: flex-start;
    margin-bottom: 30px;
  }
  .contact-bottom{
    flex-direction: column;
  }
  .contact-bottom__map{
    width: 100%;
    height: 400px;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .contact-bottom__form{
    max-width: 100%;
  }
}
@media (max-width: 1000px) {

}
@media (max-width: 900px) {
  .swiper-container{
    width: 400px;
    margin-left: 40px;
    height: 250px;
  }
  .header-slider .swiper-pagination{
    margin: 20px 0 0 40px;
  }
  .header{
    min-height: 450px;
  }
  .header-slider {
    padding: 55px 0 0;
  }
  .swiper-slide .swoper-slider__text, .swiper-slide p, .swiper-slide span{
    font-size: 13px;
  }
  .swiper-slide .swoper-slider__title{
    font-size: 30px;
  }
  .benchmarks-item__box{
    transform: rotate(00deg);
  }
  .benchmarks-item__box-content{
    transform: rotate(0deg);
  }
  .benchmarks__inner{
    flex-wrap: wrap;
  }
  .benchmarks-item:nth-child(2), .benchmarks-item:nth-child(4) {
    margin-top: 20px;
    margin-right: 20px;
  }
  .benchmarks{
    padding: 100px 0;
    height: 100%;
  }
  .benchmarks-item{
    width: 255px;
    margin: 20px;
  }
  .team-item{
    width: 300px;
    height: 350px;
  }
  .team .a-btn{
    right: 37%;
    bottom: -80px;
  }
  .services-items{
    padding: 100px 0 0;
  }
  .services-prev{
    display: none;
  }

}
@media (max-width: 850px) {
  .header__head-social{
    display: none;
  }
  .header__head-inner{
    justify-content: center;
  }
  .header-logo,
  .header-btn{
    margin-right: auto;
  }
  .out-services__items{
    justify-content: center;
  }
  .out-services__item{
    margin-bottom: 50px;
    max-width: 100%;
  }
  .team{
    padding: 100px 0 30px;
  }
  .team__inner{
    max-width: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    .a-btn{
      position: relative;
      right: 0;
      bottom: 0;
      width: 214px;
      margin: 50px auto;
    }
  }
  .team-item{
    width: 400px;
    height: 400px;
    margin: 0 auto 30px;
  }
  .portfolio-filter__control button{
    width: 100%;
  }
}
@media (max-width: 750px) {
  .gallery__inner img{
    height: 300px;
  }
  .gallery{
    padding: 0 20px;
    background-color: $bg;
  }
  .gallery__inner {
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: auto;
  }
  .gallery-item1{
    grid-area: 1/1/1/1;
  }
  .gallery-item2{
    grid-area: 2/1/2/1;
  }
  .gallery-item3{
    grid-area: 2/1/2/1;
  }
  .gallery-item4{
    grid-area: 3/1/3/1;
  }
  .gallery-item5{
    grid-area: 4/1/4/1;
  }
  .gallery-item6{
    grid-area: 5/1/5/1;
  }
  .gallery-item7{
    grid-area: 6/1/6/1;
  }
  .benchmarks__inner{
    padding: 0;
  }
  .benchmarks-item,
  .benchmarks-item__box{
    width: 100%;
  }
  .stories{
    min-height: 300px;
  }
  .stories__inner{
    padding: 30px 0;
    text-align: center;
    .stories-title{
      font-size: 24px;
      margin-bottom: 30px;
    }
    .stories-text{
      margin-bottom: 30px;
    }
  }
  .portfolio__inner-box{
    .portfolio-item{
      flex-basis: calc(90%);
    }
  }
}
@media (max-width: 600px) {
  .footer-copy{
    max-width: 420px;
    font-size: 12px;
    a,span{
      &:before{
        top: 33px;
        font-size: 12px;
      }
    }
  }
  .out-services__inner{
    .about-services__box,
    .about-services{
      flex-direction: column;
    }
    .about-services__img{
      width: 100%;
      height: 235px;
      margin: 0 0 20px;
    }
    .about-services__box-img{
      width: 100%;
    }
  }
}
@media (max-width: 550px) {
  .footer-inner{
    flex-direction: column;
    justify-content: center;
    .footer-column{
      text-align: center;
      max-width: 100%;
    }
  }
  .contact-bottom__map{
    display: none;
  }
}
@media (max-width: 450px) {
  .swiper-container{
    margin-left: 0;
  }
  .header-slider .swiper-pagination{
    margin: 20px 0 0 0;
  }
  .team__inner{
    .a-btn{
      margin: 30px auto;
    }
  }
  .team-item{
    width: 300px;
  }
  .footer-copy{
    max-width: 300px;
    font-size: 9px;
    padding: 15px 0;
    a,span{
      display: none;
    }
  }
  .portfolio-list a, .portfolio-list span{
    padding: 16px 0;
    width: 30px;
  }
  .portfolio-list .icon-long-arrow-left {
    margin: 0 10px;
    padding-left: 20px;
  }
  .portfolio-list .icon-long-arrow-right{
    margin: 0 10px;
    padding-right: 20px;
  }
}


@media (min-width: 1101px) {
  .header-menu__list{
    display: block !important;
  }
}