$text: #adadad;
$bg: #100028;
$tag: #777777;
$bl: #00bfe7;

@mixin f400{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  color: $text;
}
@mixin f500{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  color: $text;
}
