@import "vars";
@import "global";
@import "fonts";

//start header
.header{
  min-height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.header__head{
  height: 90px;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.header-menu{
  align-items: center;
}
.header__head-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.header-menu{
  align-items: center;
}
.header-list{
  width: 500px;
  display: flex;
  justify-content: space-between;
  span{
    display: inline-block;
    cursor: pointer;
  }
  .header-list__link{
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    padding: 5px 0;
    &:hover{
      &:after{
        transform: scale(1);
      }
    }
    &:after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $bl;
      transform: scale(0);
      transition: all .2s ease-out;
    }
    &.link-on{
      &:after{
        transform: scale(1);

      }
    }
  }
}
.header__head-social{
  width: 200px;
  align-items: center;
}
.header-social{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3px 0;
  text-align: center;
  li{
    position: relative;
    width: 18px;
    &:before{
      font-size: 18px;
      color: $tag;
    }
    &:nth-child(1):hover a:before,
    &:nth-child(2):hover a:before,
    &:nth-child(3):hover a:before,
    &:nth-child(4):hover a:before,
    &:nth-child(5):hover a:before{
      height: 100%;
      width: 100%;
      margin-top: 0;
    }
    a{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      &:before{
        position: absolute;
        color: #fff;
        font-size: 18px;
        overflow: hidden;
        left: 0;
        height: 0;
        top: 0;
        transition: all .3s ease-out;
      }
    }
  }
  .icon-facebook a:before{
    content: "\f09a";
    width: 100%;
    margin-top: -3px;
    border-bottom: 1px solid #2c2cbb;
    color: #2c2cbb;
    font-size: 18px;
  }
  .icon-twitter a:before{
    content: "\f099";
    width: 100%;
    color: $bl;
    margin-top: -3px;
    border-bottom: 1px solid $bl;
  }
  .icon-dribbble a:before{
    content: "\f17d";
    width: 100%;
    color: #d5e03a;
    margin-top: -3px;
    border-bottom: 1px solid #d5e03a;
  }
  .icon-instagram a:before{
    content: "\f16d";
    color: #b940cd;
    width: 100%;
    margin-top: -3px;
    border-bottom: 1px solid #b940cd;
  }
  .icon-youtube-play a:before{
    content: "\f16a";
    width: 100%;
    margin-top: -3px;
    color: red;
    border-bottom: 1px solid red;
  }
}
.header-slider{
  padding: 150px 0 0;
}
.swiper-container{
  width: 600px;
  margin-left: 0;
  height: 350px;
}
.swiper-slide{
  .swoper-slider__text,p,span{
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
    transition: all .3s ease-out;
  }
  .swoper-slider__title{
    font-size: 60px;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
.a-btn{
  padding: 14px 32px 12px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 0;
    right: 0;
    border-right: 2px solid $bl;
    border-bottom: 2px solid $bl;
    transition: all .7s;
  }
  &:before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border-top: 2px solid $bl;
    border-left: 2px solid $bl;
    transition: all .7s;
  }
  &:hover{
    &:after{
      width: 100%;
      height: 96%;
    }
    &:before{
      width: 99%;
      height: 96%;
    }
  }
}
.header-slider{
  .swiper-pagination{
    display: flex;
    margin-top: 20px;
  }
  .swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 6px 15px;
  }
  .swiper-pagination-bullet{
    width: 30px;
    height: 30px;
    margin: 0 7px;
    text-align: center;
    line-height: 20px;
    font-size: 18px;
    color: #fff;
    opacity: .6;
    transition: all .4s;
    background: transparent;
    position: relative;
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
  }
  .swiper-pagination-bullet-active {
    color: #fff;
    opacity: 1;
  }
}
.header-down{
  position: relative;
  overflow: hidden;
}
.header-down:hover{
  overflow: visible;
  .drop-down__list{
    opacity: 1;
    transform: translateX(0);
  }
}
.drop-down__list{
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: -13px;
  transform: translateX(-600px);
  @include f400;
  opacity: 1;
  transition: all .7s ease-out;
  a{
    text-transform: uppercase;
    display: block;
    padding: 5px 10px;
    color: $text;
    &:hover{
      color: $bl;
    }
  }
}
//end header
//start out-services
.out-services{
  padding: 100px 0;
  background-color: $bg;
}
.out-services__inner{
  display: flex;
  justify-content: space-between;
}
.out-services__info{
  max-width: 360px;
  width: 100%;
  margin-right: 30px;
  .a-btn:hover:before{
    width: 100%;
  }
}
.out-services__info-text{
  @include f400;
  margin-bottom: 50px;
}
.out-services__info-title{
  font-size: 16px;
  span,p{
    display: block;
    font-size: 36px;
    margin-top: 10px;
    padding-bottom: 25px;
    margin-bottom: 50px;
    position: relative;
    &:after{
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      height: 5px;
      width: 70px;
      background: #00bfe7;
    }
  }
}
.out-services__items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.out-services__item{
  max-width: 360px;
  width: 100%;
  margin-bottom: 40px;
  &:hover{
    .out-services__items-img:before{
      transform: rotate(45deg);
    }
  }
}
.out-services__items-img{
  width: 70px;
  height: 70px;
  margin-bottom: 30px;
  position: relative;
  &:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border: 2px solid $bl;
    transition: all .4s;
  }
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
.out-services__items-title{
  margin-bottom: 20px;
  font-size: 20px ;
}
.out-services__items-text{
  @include f400;
}
//end out-services
//start gallery
.gallery__inner{
  background-color: #000;
  display: grid;
  grid-template-columns: repeat(6, 16.6%);
  grid-template-rows: repeat(2, 300px);
  grid-gap:10px;
  img{
      height: 100%;
      width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.gallery-item{
  position: relative;
  overflow: hidden;
  &:hover{
    .gallery-item__bottom{
      bottom: 0;
    }
  }
  .gallery-item__bottom{
    position: absolute;
    padding: 12px 20px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: all .5s;
    bottom: -150px;
    text-align: center;
    left: 0;
    .gallery-bottom__title{
      font-size: 22px;
      margin-bottom: 10px;
    }
    .gallery-item__text{
      @include f400;
    }
  }
  a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    &:before{
      position: absolute;
      font-size: 20px;
      color: #fff;
      top: 50%;
      left: 50%;
      z-index: 50;
      transform: translate(-50%,-50%);
    }
  }
}
.gallery-item1{
  grid-area: 1/1/1/span 2;
}
.gallery-item2{
  grid-area: 1/3/1/3;
}
.gallery-item3{
  grid-area: 1/4/1/4;
}
.gallery-item4{
  grid-area: 1/5/span 2/7;
}
.gallery-item5{
  grid-area: 2/1/2/1;
}
.gallery-item6{
  grid-area: 2/2/2/2;
}
.gallery-item7{
  grid-area: 2/3/2/span 2;
}
//end gallery
//start benchmarks
.benchmarks{
  padding: 400px 0 100px;
  background-color: $bg;
  height: 800px;
}
.benchmarks__inner{
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}
.benchmarks-item{
  width: 25%;
  height: 255px;
  &:nth-child(2),
  &:nth-child(4){
    margin-top: -200px;
  }
}
.benchmarks-item__box{
  background-color: #1a083d;
  width: 255px;
  height: 255px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: rotate(45deg);
  position: relative;
  &:before{
    position: absolute;
    left: -1px;
    bottom: -2px;
    height: 636px;
    width: 636px;
    border-left: 1px solid #333333;
    border-top: 1px solid #333333;
    content: "";
    z-index: -1;
  }
}
.bench2{
 &:before{
   left: -306px;
   bottom: -76px;
   border-right: 1px solid #333333;
   border-bottom: 1px solid #333333;
   border-left: none;
   border-top: none;
 }
}
.bench3{
  &:before{
    left: -76px;
    bottom: -305px;

  }
}
.bench4{
  &:before{
    left: -380px;
    bottom: -380px;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: none;
    border-top: none;
  }
}
.benchmarks-item__box-content{
  transform: rotate(-45deg);
  .benchmarks-item__num{
    font-size: 60px;
  }
  .benchmarks-item__text{
    @include f400;
    color: #fff;
  }
}
//end  benchmarks
//start team
.team{
  padding: 100px 0;
  min-height: 768px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .out-services__info-title{
    margin-bottom: 130px;
  }
  .a-btn{
    position: absolute;
    bottom: 0;
    right: 0;
    &:hover:before{
      width: 100%;
    }
  }
}
.team__inner{
  display: flex;
  position: relative;
}
.team-item{
  height: 390px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  width: 300px;
  z-index: 1;
  text-align: center;
  overflow: hidden;
  &:nth-child(2){
    margin-top: -60px;
  }
  &:nth-child(3){
    margin-top: -120px;
  }
  &:nth-child(4){
    margin-top: -180px;
  }
  .team-item__hover{
    transition: all .5s;
    width: 100%;
    position: absolute;
    bottom: -195px;
    left: 0;
    padding: 50px 30px 0;
    z-index: 3;
  }
  &:hover{
    .team-item__hover{
      bottom: -11px;
    }
  }
}
.team-item__hover-title{
  font-size: 22px;
  margin-bottom: 15px;
}
.team-item__hover-text{
  @include f400;
  color: #fff;
  margin-bottom: 15px;
}
.team-item__hover-social{
  display: flex;
  justify-content: space-around;
  margin-bottom: 35px;
}
//end  team
//start team-slider
.team-slider{
  background-color: $bg;
  padding: 100px 0;
  .out-services__info-title{
    text-align: center;
    span:after{
      left: 550px;
    }
  }
}
.team-slide{
  padding: 40px 30px;
  border: 1px solid #222222;
  position: relative;
  &:hover:before{
    transform: scale(1);
  }
  &:before{
    z-index: -1;
    transform: scale(0);
    transition: all .3s ease-out;
    content: '';
    background: url(../images/team/blog-1.jpg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.team-slide__title{
  font-size: 20px;
  margin-bottom: 20px;
}
.team-slide__tags{
  margin-bottom: 20px;
  li{
    display: inline-block;
    padding-right: 20px;
    @include f400;
  }
  li+li{
    padding-left: 20px;
    position: relative;
    &:before{
      position: absolute;
      left: 0;
      content: '/';

    }
  }
}
.team-slide__text{
  @include f400;
  margin-bottom: 20px;
}
.team-slide__link{
  @include f400;
  color: #fff;
  padding-right: 30px;
  position: relative;
  &:before{
    position: absolute;
    right: 5px;
    font-size: 15px;
    opacity: .6;
    top: 3px;
  }
}
.swiper-container2{
  overflow: hidden;
}
.swiper-pagination2{
  display: flex;
  margin-top: 30px;
  justify-content: center;
  .swiper-pagination-bullet{
    background: #fff;
  }
  .swiper-pagination-bullet-active{
    background: $bl;
  }
}
//end team-slider
//start stories
.stories{
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.stories__inner{
  max-width: 750px;
  width: 100%;
  padding: 100px 0;
}
.stories-title{
  text-transform: capitalize;
  font-size: 42px;
  margin-bottom: 40px;
}
.stories-text{
  font-size: 15px;
  text-transform: uppercase;
  opacity: .8;
  margin-bottom: 60px;
}
.stories-btn{
  color: #ffffff;
  background: #00bfe7;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  padding: 14px 32px 12px;
}
// end stories
//start footer
.footer{
  padding: 10px 0 0;
  background-color: #0a0119;
}
.footer-social{
  padding: 30px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  .header__head-social{
    width: 300px;
    padding-left: 0;
    border-left: none;
  }
}
.footer-inner{
  padding: 50px 0;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-col{
  max-width: 360px;
  width: 100%;
  form{
    position: relative;
    input{
      width: 100%;
      height: 50px;
      padding: 10px 70px 10px 20px;
      border: 1px solid #544E5E;
      background-color: transparent;
      font-size: 16px;
      color: #adadad;
      outline: none;
    }
    button{
      display: block;
      position: absolute;
      width: 50px;
      height: 50px;
      z-index: 5;
      right: 0;
      top: 0;
      outline: none;
      border: none;
      background-color: $bl;
      &:before{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        color: #FFFFFF;
        font-size: 20px;
      }
    }
  }
}
.footer-column{
  max-width: 160px;
  width: 100%;
}
.footer-col-title{
  font-size: 18px;
  margin-bottom: 35px;
}
.footer-col-text{
  @include f400;
  margin-bottom: 30px;
}
.footer-col__list{
  a,span{
    display: block;
    width: 100%;
    @include f400;
    padding: 10px 0;
  }
}
.footer-copy{
  display: flex;
  justify-content: center;
  padding: 30px 0;
  @include f400;
  position: relative;
  a,span,p{
    &:before{
      right: 26.7%;
      top: 32px;
      color: $bl;
      font-size: 16px ;
      position: absolute;
    }
  }
}
// end footer
//start  about
.header.other-page{
  min-height: 400px;
}
.out-services.about-page{
  .out-services__inner{
    display: flex;
    justify-content: space-between;
  }
  .out-services__items{
    max-width: 560px;
    margin-left: 10px;
    width: 100%;
  }
}
.about-services{
  display: flex;
  justify-content: space-between;
}
.about-services__box{
  display: flex;
  flex-direction: column;
}
.about-services__img{
  width: 270px;
  height: 490px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 20px;
}
.about-services__box-img{
  width: 270px;
  height: 235px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  & + & {
    margin-top: 20px;
  }
}
.out-services__items-box{
  display: flex;
  justify-content: space-around;
}
/// end about
/// start
.about-slider{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 60px;
}
.swiper-container3{
  overflow: hidden;
}
.about-slide__text{
  padding: 30px 40px;
  border: 1px solid #3D3A64;
  margin-bottom: 25px;
  @include f400;
}
.about-slide__auth{
  margin: 0 auto;
  display: flex;
  width: 230px;
  justify-content: space-around;
  .slide-auth__img{
    img{
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 50px;
      height: 50px;
      border-radius:50%;
    }
  }
  .slide-auth__prof{
    margin-top: 4px;
    span,p{
      @include f400;
      color: #fff;
      font-size: 14px;
      display: block;
    }
  }
}
// end
//start

// end
//start

// end
//start

// end
//start

// end
//start


//different settings
.out-services__info-title.center-mode{
  text-align: center;
  span:after{
    left: 550px;
  }
}
.breadcrumbs{
  max-width: 100%;
  padding: 100px 0;
  text-align: center;
}
.breadcrumbs-title{
  font-size: 50px;
  margin-bottom: 20px;
}
.breadcrumbs-links{
  @include f400;
  li{
    display: inline-block;
    &:last-child{
      span,a{
        color: $text;
      }
    }
    & + li{
      padding-left: 30px;
      position: relative;
      &:before{
        position: absolute;
        top: -3px;
        content: '/';
        left: 10px;
        font-size: 23px;
      }
    }
  }
}


@import "media";

